pyramid==2.0
sqlalchemy==1.4.41
psycopg2-binary==2.9.5
pyramid_jwt==1.6.0
cornice==6.0.0
pyramid_debugtoolbar==4.9
waitress==2.1.2
gunicorn==20.1.0
passlib==1.7.4
zope.sqlalchemy==1.6
bcrypt==4.0.1
python-dotenv==0.21.0
alembic==1.8.1