.task-list ul {
    padding-left: 0;
}

.task-list li {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border-left: 5px solid #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list li h3 {
    margin-bottom: 8px;
    font-size: 1.2rem;
    color: #333;
    flex-grow: 1;
}

.task-list li p {
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.task-list li .task-status {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
}

.task-list li .task-status span {
    font-weight: 500;
}

.task-list li .task-status select {
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
}

.task-list li .task-actions {
    display: flex;
    gap: 10px;
}

.task-list li .edit-button,
.task-list li .delete-button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 10px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.task-list li .edit-button {
    background-color: #ffc107;
    /* Warna kuning untuk edit */
    color: #333 ;
    }
    
    .task-list li .edit-button:hover {
        background-color: #e0a800;
    }
    
    .task-list li .delete-button {
        background-color: #dc3545;
        /* Warna merah untuk hapus */
        color: white;
    }
    
    .task-list li .delete-button:hover {
        background-color: #c82333;
    }
    
    /* Responsive adjustments */
    @media (max-width: 576px) {
        .task-list li {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    
        .task-list li h3 {
            margin-bottom: 5px;
        }
    
        .task-list li .task-status {
            margin-right: 0;
            margin-bottom: 10px;
        }
    
        .task-list li .task-actions {
            margin-top: 10px;
            flex-direction: row;
            /* Align buttons horizontally on smaller screens */
            justify-content: flex-end;
            /* Push buttons to the right */
        }
    
        .task-list li .edit-button,
        .task-list li .delete-button {
            margin-left: 5px;
        }
    }